*{
    box-sizing: border-box;
}
body{
    background:#ecbafd;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px 0 ;
}
.row{
    display: flex;
    padding: 10px;
}

.col-6{
    width: 50%;
    color: mediumslateblue;
}
button{
    font-weight: bold;
    padding: 10px;
    color: #c800fd;
    background-color: #65f8fd;

}
button:hover{
    background: #25fd5a;
}

.button-paper{
    border: 4px solid #5252fd;
    border-radius: 70%;
    margin-right: 80px;
}
.button-check-num{
    border: 4px solid #fd0086;
    border-radius: 70%;
    margin-right: 0 ;
}